In [ ]:
import pandas as pd

In [ ]:
df =  pd.read_csv('/home/selina/VOCdevkit/training/train_labels.csv' , sep=',')

In [ ]:
df

Empty DataFrame
Columns: [filename, width, height, class, xmin, ymin, xmax, ymax]
Index: []

In [ ]:
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,I2021-08-19T11:37:32451658087+02:00.jpg,672,376,Building_Type_10,426,32,672,173
1,I2021-08-19T11:38:24351449296+02:00.jpg,672,376,Building_Type_10,191,1,672,204
2,I2021-08-19T11:38:24351449296+02:00.jpg,672,376,Art_Installation,255,153,647,257
3,I2020-06-08T13:49:07904781026+02:00.jpg,672,376,Building_Type_Bistro36,431,2,672,210
4,I2020-06-08T13:49:07904781026+02:00.jpg,672,376,Building_Type_30,290,37,393,138

In [ ]:
df.describe ()

,width,height,xmin,ymin,xmax,ymax
count,30357.000000,30357.000000,30357.000000,30357.000000,30357.000000,30357.000000
mean,671.800903,376.434167,257.159074,83.942979,410.444873,188.407418
std,6.015120,7.647930,182.802527,71.415576,187.487138,50.369225
min,49.000000,42.000000,1.000000,1.000000,9.000000,18.000000
25%,672.000000,376.000000,87.000000,1.000000,269.000000,172.000000
50%,672.000000,376.000000,267.000000,84.000000,399.000000,192.000000
75%,672.000000,376.000000,403.000000,153.000000,587.000000,213.000000
max,672.000000,480.000000,663.000000,301.000000,672.000000,376.000000

In [ ]:
df.shape

(30357, 8)

In [ ]:
df.columns

Index(['filename', 'width', 'height', 'class', 'xmin', 'ymin', 'xmax', 'ymax'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30357 entries, 0 to 30356
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  30357 non-null  object
 1   width     30357 non-null  int64
 2   height    30357 non-null  int64
 3   class     30357 non-null  object
 4   xmin      30357 non-null  int64
 5   ymin      30357 non-null  int64
 6   xmax      30357 non-null  int64
 7   ymax      30357 non-null  int64
dtypes: int64(6), object(2)
memory usage: 1.9+ MB

In [ ]:
df.describe(include=["object", "bool"])

                                       filename             class
count                                     30357             30357
unique                                    13411                21
top     I2020-06-08T13:50:21157601097+02:00.jpg  Art_Installation
freq                                          8              4019

In [ ]:
df["class"].value_counts()

Art_Installation            4019
Building_Type_10            3874
Waste_Basket                3239
Building_Type_40            3074
Building_Entrance           2972
Sitting_Area                2104
Building_Type_30            1819
Building_Type_47            1778
Building_Type_Bistro36      1560
Fire_Hydrant                1289
Outdoor_Fitness             1238
Building_Type_Mensa          544
Building_Number_36           526
Building_Type_42             471
Building_Number_32           466
Building_Type_ZentralBib     454
Building_Number_30           364
Building_Number_48           293
Building_Number_46           212
Building_Number_11            60
Wate_Basket                    1
Name: class, dtype: int64